* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.main_page {
    width: 100%;
    height: 779px;
    background-color: #02160b;
}

.main_wrapper {
    background-image: url(assets/img/main\ bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    color: #f7f7f7;
    text-transform: uppercase;
    padding-left: 15px;
}

nav {
    width: 480px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    font-size: 23px;
    line-height: 27px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

.search {
}

.sign {
    padding: 10px 23px;
    border: 2px solid #cd6326;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
}

h1 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #cd6326;
    padding-top: 117px;
}

.main_descr {
    font-size: 18px;
    line-height: 27px;
    color: #f7f7f7;
    width: 274px;
    padding: 51px 0 47px 0;
}

.main_btn {
    width: 160px;
    height: 60px;
    background: #cd6326;
    border-radius: 5px;
    font-size: 23px;
    line-height: 27px;
    color: #f7f7f7;
    border: none;
    letter-spacing: 1px;
}

.articles_wrapper {
    background-color: #cccccc;
}

.articles {
    width: 100%;
    height: 1368px;
    background-color: #cccccc;
}

.latest {
    padding-top: 120px;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.news {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    padding-top: 20px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 120px;
}

.left_arrow {
    width: 26px;
    height: 39px;
}

.right_arrow {
    width: 26px;
    height: 39px;
}

.slider_items {
    display: flex;
    justify-content: space-between;
    width: 1020px;
}

.slider_item {
    width: 300px;
    height: 360px;
}

.slider_item1 {
    background-image: url(assets/img/slider1.jpg);
}

.slider_item2 {
    background-image: url(assets/img/slider2.jpg);
}

.slider_item3 {
    background-image: url(assets/img/slider3.jpg);
}

.slider_tittle {
    padding-top: 247px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #f7f7f7;
}

.slider_subtittle {
    padding-top: 10px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #f7f7f7;
}

.form_tittle {
    padding-top: 239px;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

form {
    margin: 0 auto;
    padding-top: 61px;
    width: 657px;
    height: 61px;
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 23px;
    line-height: 27px;
    font-family: "Roboto", sans-serif;
    color: #373737;
    background-color: #cccccc;
}

input[type="email"] {
    width: 537px;
    height: 60px;
    padding: 0 15px;
    border: 1px solid #666666;
    border-right: none;
    outline: none;
}

input[type="submit"] {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #f7f7f7;
    width: 120px;
    height: 60px;
    outline: none;
    background: #cd6326;
    border: 1px solid #cd6326;
    border-radius: 0px 5px 5px 0px;
}

footer {
    width: 100%;
    height: 359px;
    background-color: #181617;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_wrapper {
    background-image: url(assets/img/footer\ bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 221px;
}

.footer_nav {
    width: 480px;
}

.footer_nav ul {
    width: 485px;
    padding-left: 9px;
}

.footer_socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.socials {
    width: 40px;
    height: 40px;
}
